html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
  margin: 1.5rem;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin: 24px;
}

section {
  float: left;
  width: 25%;
  padding: .75rem;
  text-align: left;
  border-left: .1px solid #333;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-style: italic;
  font-weight: normal;
  font-size: .875rem;
  font-family: sans-serif;
}

p {
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

h2, h3, p {
  margin: 0;
}

img {
  width: 100px;
  padding-bottom: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: inline-block;
  margin: 0 auto 1.5rem;
}

.btn {
  background-color: #333;
  color: #f2f2f2;
  text-decoration: none;
  padding: .75rem;
  border-radius: 8px;
  display: inline-block;
}

.btn-small {
  overflow: hidden;
  text-align: center;
}

a.btn.btn-small {
  color: #f2f2f2;
}

.btn:hover {
  background-color: #333;
}

.one {
  background-color: #e2e2e2;
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #aaa;
}

.four {
  background-color: #999;
  border-right: .1px solid #333;
}
